<div class="container">
  <nav class="navbar navbar-dark" style="position:fixed;bottom:0;left:0;width:100vw;height:50px;color:white;background-color:black">
</nav>
</div>
</div>
</center>
</body>
</html>